{% extends 'base.html.twig' %}

{% block main %}
    {{ form_start(form) }}
    {{ form_widget(form) }}

    <button class="btn btn-primary">Panier</button>

    {{ form_end(form) }}

{% endblock %}

{% block titre %}

{% endblock %}
