{% extends 'base.html.twig' %}

{% block main %}
    {{ form_start(registerForm) }}
    {{ form_widget(registerForm) }}

    <button>s'inscrire</button>

    {{ form_end(registerForm) }}
{% endblock %}

{% block titre %}

{% endblock %}