{% extends 'base.html.twig' %}

{% block main %}
    {% if app.user %}
        Felicitation
    {% endif %}


    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('homepage') }}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" />

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password" />

        <button type="submit">connect</button>
    </form>

{% endblock %}