{% extends 'base.html.twig' %}

{% block main %}
    {{ form_start(produitForm) }}
    {{ form_widget(produitForm) }}

    <button>Ajouter produit</button>

    {{ form_end(produitForm) }}
{% endblock %}

{% block titre %}

{% endblock %}