{% extends 'base.html.twig' %}

{% block main %}

<h2>Fonctionnement du site</h2>
<div>
	Bienvenue sur le site de la Campagne Connectée ! <br /> <br /> Le
	fonctionnement du site est très simple : Vous pouvez parcourir le
	Catalogue de produits et remplir un panier. Vous passerez alors
	commande à des producteurs, eux aussi utilisateurs du site, et vous
	faire livrer par des particuliers directement à l'endroit de votre
	choix. <br />Le Bouton "Se connecter" permet de se connecter à son
	compte "Campagne connectée" afin de gérer ses achats et ses commandes.
	<br /> Le bouton "S'inscrire" permet de créer un compte "Campagne
	connectée". Si vous êtes un producteur, des champs supplémentaires
	seront à remplir.<br />Enfin le bouton "Catalogue de produits" vous
	permettra de parcourir l'ensemble des produits proposés par nos
	producteurs, séparés par types de produits.<br />A l'issu de votre
	commande, un livreur se proposera pour passer chercher votre commande
	et vous l'apporter à l'endroit de votre choix.<br /> Tous les
	utilisateurs peuvent être également livreurs si cela leur convient.<br />
	Dans un souci de respect de l'environnement, nous voulons que les
	personnes livrantes récupèrent la livraison sur le chemin qu'ils
	empruntent habituellement, pour limiter l'empreinte carbone d'un camion
	de livraison.


</div>


{% endblock %}

{% block titre %}

{% endblock %}